[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FreeCAD
Comment=A CAD software
Keywords[en]=CAD;cad;freecad
Exec=/home/yohann/Logiciels/Freecad.AppImage
Terminal=false
