*.o
*.a
a.out
*~
*.swp
.idea
.vscode
__pycache__
.vimproject
*.ao
tags
compile_commands.json
vgcore*
.vimsession
.clangd
CMakeCache.txt
cmake_install.cmake
CMakeFiles
.gdb_history
peda-session-tester.txt
*.hi
cppcheck.xml
