! Font
URxvt.font: xft:monospace:size=12
URxvt.boldFont: xft:monospace:size=12

! Scrollbar
URxvt*saveLines: 10000
URxvt*scrollBar: false
URxvt*scrollBar_right: true
URxvt*scrollColor: #ffffff
URxvt*scrollBar_floating: true
URxvt*scrollstyle: plain

! Colors
URxvt*foreground: #ffffff
URxvt*background: #000000

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
